@import 'typography.css';
@import 'colors.css';

:root .flex-row{
    display: flex;
    flex-flow: row;
    gap: 16px;
}

:root .flex-column{
    display: flex;
    flex-flow: column;
}

:root .align-flex-start{
    align-items: flex-start;
}

:root .justify-flex-end{
    justify-content: flex-end;
    width: 100%;
}

body{
    margin: 0;
    background-color: var(--cultured);
}


/* navbar */

nav{
    background-color: var(--highlight-gray);
    padding: 0 3em;
}

main{
    margin-top: 1.5em;
}

section{
    display: flex;
    min-height: 60vh;
}

.wrapper{
    width: fit-content;
}

.margin-aside{
    margin-left: 32vw;
}

.aside-wrapper{
    position: absolute;
    width: 25%;
}

aside{
    padding: 1.5em 3em;
    border-radius: 10px;
    background: var(--light-gray);
    margin-top: 1.5em;
}

ul{
    list-style-type: none;
}
ul > li{
}
.ul-rtl{
}
ul > li > a{
    text-decoration: none;
    color: var(--black);
}

.profile-info{
    display: flex;
    min-width: 50vw;
    padding: 0.8em;
    border-radius: 10px;
    background: var(--light-gray);
}
.profile-info .profile-img{
    border-radius: 5px;
    min-width: 25vw;
    min-height: 25vh;
}
.label{
    font-weight: bolder;
}

/*ul > li > a:hover{
    color: var(--princeton-orange);
}*/
.users-list{
    display: flex;
    flex-flow: wrap;
    gap: 48px;
    align-items: baseline;
    padding: 0;
}

.users-list > li > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.users-list > li > div > i{
}
.users-list > li > div > a{
    text-transform: capitalize;
    text-decoration: none;
}
.users-list > li > div > a:hover{
}
.users-list-profile-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;             
    border-radius: 50%; 
    height: 6em; 
    width: 6em;
}
nav > div{
    display: flex;
    justify-content: space-between;

}
nav > div > ul{
    display: flex;
    gap: 16px;
    padding: 0;
}

.hero{
    height: 60vh;
    display: flex;
    /*position: relative;
    background-image: url('../images/729709408-huge.jpg');
    background-position: center;
    background-size: cover;*/
}

.hero-content-wrapper{
    width: 50%;
    margin: auto;
}
.content >h1{
}

footer{
    bottom: 0;
}
button{
    border: none;
    border-radius: 15px;
    background: var(--contrast-gray);
    width: fit-content;
    padding: 8px 16px;
    color: var(--white);
}

button:hover{
    cursor: pointer;
}

.warning{
    background: var(--warning);
    color: var(--white);
}
.signup, .log-in{
}
.form-wrapper{
    background: var(--light-gray);
    padding: 1.5em 3em;
    border-radius: 10px;
    margin:auto;
}
form{
    display: flex;
    flex-flow: column;
    gap: 16px;
}
input, select{
    border-radius: 5px;
    padding: 8px 16px;
}
form > h1{
    text-align: center;
}

.form-group{
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.alert{
}
.edit-profile{
}

.edit-profile-btn{
}

.form-group-s{
    width: 50%;
    display: flex;
    flex-flow: column;
}
.form-group-l{
    width: 100%;
}

.profile-img{
    background-position: center;
    background-size: cover;
}

.favorite-user{
}
@media (max-width: 575.98px){
    main{
    }

    nav > div{
        flex-flow: column;
    }
    nav > div > ul{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .ul-rtl{
    }

    .edit-profile{
        flex-flow: column;
    }
}