body{
    font-family: sans-serif;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-centered{
    align-items: center;
    justify-content: center;
}
.mb-headers{
    margin-bottom: 2.5em;
}
.negative{
    color: #fff;
}
.bg-lg-transparent{
    
    background-color: #fff;
}
nav{
    position: sticky;
    margin-top: 0;
}
nav > div{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}
nav > div > ul {
    display: flex;
    list-style-type: none;
}

nav > div > ul > li{
    margin-right: 1em;
}

.hero {
    background-image: url("images\729709408-huge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer{
    padding: 2.5em;
    background-color: lightgray;
}

.wrapper{
    padding: 2.5em;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
}

.sign-up-form{
    display: inline-flex;
    flex-direction: column;
}

.sign-up-form > label, input {
    margin-bottom: 0.5em;
}

.sign-up-btn{
    padding: 1em;
    background-color: #FFF;
    font-weight: bolder;
    border: none;
}
section{
    padding: 5em 10em 5em 10em;
}

.profile-info-wrapper{
    display: flex;
}

.profile-info-wrapper > div{
    width: 50%;
}

.profile-info-wrapper > div > ul{
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
}

.profile-info-wrapper > div > ul > li{
    width: 50%;
    margin: 0 0 1em 0;
}
.profile-info-wrapper > div > button{
    margin: 1em 1em 0 0;
}
.profile-img{
   width: 100%;
}

.flex-grow-2{
    flex-grow: 2;
}

